@model Kancelaria.Models.Case

@{
    ViewData["Title"] = Model.Name;
}

<h2>Usuń</h2>

<h3>Czy na pewno chcesz usunąć tą sprawę?</h3>
<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" />
            <a asp-action="Index" class="btn btn-default">Powrót</a>
        </div>
    </form>
</div>
